@media (max-width: 1199px){
    /*---------------
        Main styles
    ---------------*/

    /*---------------
        Main section
    ---------------*/
    .first_section .data{
        width: calc(100% - 700px + 48px);
        margin-right: -48px;
    }

    .first_section .wrap_map{
        width: 700px;
        margin-right: -48px;
    }

    .first_section .photos .photo{
        width: 220px;
        height: 220px;
    }

    .first_section .photos .photo:nth-child(4n + 2){
        width: 137px;
        height: 137px;
    }

    .first_section .photos .photo:nth-child(4n + 3){
        width: 176px;
        height: 176px;
    }

    .first_section .photos .photo:nth-child(4n + 4){
        width: 158px;
        height: 158px;
    }


    .equipment .grid .item{
        min-height: 300px;
    }

    .equipment .grid .item .price{
        font-size: 22px;
    }

    .equipment .show_more{
        margin-top: 50px;
    }


    .sect_requisites .info:after{
        top: 19px;
        right: 21px;

        width: 87px;
    }

    .sect_requisites .info .grid .icon{
        margin-right: 14px;
    }

    .sect_requisites .info ul li{
        font-size: 20px;
    }

    .sect_requisites .info ul li:nth-child(1),
    .sect_requisites .info ul li:nth-child(2){
        padding-right: 90px;
    }

    .sect_requisites .info .grid .name{
        align-self: center;
    }

    .sect_requisites .accordion .item .title{
        font-size: 20px;

        padding: 20px 30px;
        padding-right: 55px;
    }

    .sect_requisites .accordion .item .title:after{
        right: 25px;

        width: 16px;
        height: 16px;
        margin-top: -10px;

        border-width: 3px;
    }

    .sect_requisites .accordion .item .data{
        padding: 25px;
    }

    /*---------------
        Footer
    ---------------*/
    footer .data{
        max-width: 500px;
    }

    footer .line_btns{
        max-width: 400px;
        margin-left: 0;

        justify-content: space-between;
    }

    footer .line_btns > *{
        margin-left: 0;
    }

    footer .line_btns .link_btn{
        width: 100%;
        max-width: 100%;
    }

    footer .line_btns .partner{
        width: calc(50% - 10px);
    }
}
