@media (max-width: 1024px){
    /*---------------
        Main styles
    ---------------*/
    body{
        font-size: 14px;
    }


    .slider-pagination{
        padding: 0;

        justify-content: center;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction{
        bottom: 16px;
    }

    /*---------------
        Main section
    ---------------*/
    .first_section{
        padding: 50px 0;
    }

    .first_section .data{
        width: 100%;
        margin: 0;

        text-align: center;
    }

    .first_section .wrap_map{
        width: 100%;
        margin-top: 50px;
        margin-right: 0;
    }


    .equipment .grid{
        grid-template-columns: 1fr 1fr;
    }

    .equipment .grid .item:first-child{
        min-height: 600px;
    }

    .equipment .grid .item .data{
        visibility: visible;

        opacity: 1;
    }


    .sect_amount .box{
        padding: 30px;
    }


    .sect_requisites{
        padding: 70px 0;
    }

    .sect_requisites .columns .column{
        width: 100%;
    }

    /*---------------
        Footer
    ---------------*/
    footer{
        border-radius: 16px 16px 0 0;
        background: #424d9c;
    }

    footer:before,
    footer:after{
        display: none;
    }

    footer .data{
        display: flex;

        max-width: 100%;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    footer .title{
        width: 100%;

        order: -2;
    }

    footer .text_block{
        width: calc(50% - 15px);
        max-width: 100%;
    }

    footer .gallery{
        position: relative;

        width: calc(50% - 15px);
        height: auto;
        margin-top: 20px;
        margin-left: 0;

        border-radius: 10px;

        order: -1;
    }

    footer .gallery .slide{
        position: relative;

        display: block;

        width: 100%;
        padding-bottom: 100%;

        border-radius: 10px;
    }

    footer .gallery .slide img{
        border-radius: 10px;
    }

    footer .line_btns{
        width: calc(50% - 15px);
    }

    footer .adress{
        width: 100%;
    }
}
